name: flutter_group_3
description: A new Flutter project.


publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ">=2.17.5 <3.0.0"


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  # Этот пакет содержит набор высокоуровневых функций и классов, упрощающих использование ресурсов HTTP.
  # Он мультиплатформенный и поддерживает мобильные устройства, настольные компьютеры и браузеры.
  http: ^0.13.4

  flutter_neumorphic: ^3.2.0

  # Компонент, обеспечивающий анимацию флип-карты. Его можно использовать для скрытия и отображения деталей продукта.
  flip_card: ^0.6.0

  # A Flutter plugin that provides a WebView widget.
  # On iOS the WebView widget is backed by a WKWebView; On Android the WebView widget is backed by a WebView.
  #                Android	  iOS
  #Support	  SDK   20+	      9.0+
  webview_flutter: ^3.0.2


  # Оболочка вокруг InheritedWidget, чтобы сделать их более простыми в использовании и более удобными для повторного использования.
  # Используя Provider вместо ручного написания InheritedWidget, вы получаете:
  # - упрощенное выделение/распределение ресурсов
  # - lazy-loading
  # - значительно уменьшенный шаблон по сравнению с созданием нового класса каждый раз
  # - дружественный к devtool — с помощью Provider состояние вашего приложения будет видно в devtool Flutter
  # - повышенная масштабируемость для классов с механизмом прослушивания(with a listening mechanism),
  #     сложность которого экспоненциально растет` (например, ChangeNotifier, который составляет O (N) для отправки уведомлений).



  provider: ^6.0.3





dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:


  uses-material-design: true


  assets:
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
